h3 {
	line-height: 24px;
	padding: 12px 0;
}

h4 {
	padding-top: 10px;
	padding-bottom: 10px;
}

p {
  margin: 10px 0 10px;
}

.footer {
  padding: 20px 0;
  margin-top: 40px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  text-align: center;
  min-width:100%;
 }

.navpadding {
  margin-top: 40px;
}

.pager {
  margin: 20px 0;
}

.pager a {
  background-color: #222222;
  color: #ffffff;
  padding: 20px;
  position: fixed;
  text-align: center;
  text-decoration: none;
  top: 50%;
}

.pager a.prev {
  border-radius: 0px 10px 10px 0px;
  left: 0%;
}

.pager a.next {
  border-radius: 10px 0px 0px 10px;
  right: 0%;
}

.projtitle {
	font-size: 20px;
	font-weight: bold;
}

@media (max-width: 767px) {
  .footer {
    margin-right: -20px;
    margin-left: -20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .projtitle {
  	padding-top: 20px;
  }
}