<footer class="footer navbar-fixed-bottom">
	<p>
		<a class="icon" href="http://linkedin.com/in/petermikitsh"><img class="width" src="/images/linkedin.png" height="50" width="50"></a>
		<a class="icon" href="http://github.com/petermikitsh"><img src="/images/github.png" height="50" width="50"></a>
		<a class="icon" href="http://twitter.com/petermikitsh"><img src="/images/twitter.png" height="50" width="50"></a>
	</p>

	<div class="muted credit">&copy; 2013 Peter Mikitsh</div>
</footer>

</body>
</html>